#background-img {
  background-color: chocolate;
  background-image: url('..img/img.jpeg');
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}