* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    font-size: 20px;
}

#box {
    width: 100%;
    left: 0;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 60%, 0 100%); 
}

#menu-left {
    flex-direction: row;
}

#menu-right{
   float: right;
}

#menu-right, #menu-left {
    background-color: darkblue;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

#section {
    font-size: 70px;
    font-weight: 600;
    position: absolute;
    height: 50px;
    width: 100%;
    text-align: center;
}

.link{
    padding: 40px;
    color: white;
}