body {
    background-color: darkred;
}


#square {
    height: 400px;
    width: 500px;
    background-color: #000;
    transition: all 1s;
}

.square {

}

@keyframes numbers {
    animation-iteration-count: 1;
    animation-timing-function: linear;
}